#headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1000px;
    margin: auto;
}

/* #headerContent .active {
    border-bottom: 5px solid black;
} */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: inherit;
    filter: drop-shadow(0px 1px 10px #0000003d);
}